@keyframes nav{
    from{
        right: -500px;
    }30%{
        right: 20px;
    }60%{
        right: -10px;
    }80%{
        right: 10px;
    }100%{
        right: 0;
    }
}

@keyframes formMoveLay1{
    from{
        transform: rotate(-145deg)translate(0px, 0px);
    }to{
        transform: rotate(-120deg)translate(5px,5px);
    }
}

@keyframes formMoveLeft1{
    from{
        transform: rotate(-60deg)translate(0px,0px);
    }to{
        transform: rotate(-80deg)translate(3px,3px);
    }
}

@keyframes formMoveRight1{
    from{
        transform: rotate(-150deg)translate(0px,0px);
    }to{
        transform: rotate(-175deg)translate(2px, 5px);
    }
}

@keyframes formMoveLeft2{
    from{
        transform: rotate(30deg)translate(0px,0px);
    }to{
        transform: rotate(45deg)translate(5px,-5px);
    }
}

@keyframes formMoveRight2{
    from{
        transform: rotate(-40deg)translate(0px,0px);
    }to{
        transform: rotate(-60deg)translate(-4px,-5px);
    }
}

@keyframes formMoveDown2{
    from{
        transform: rotate(-177deg)translate(0px,0px);
    }to{
        transform: rotate(-143deg)translate(2px,-3px);
    }
}

@keyframes formMoveLeft3{
    from{
        transform: rotate(-20deg)translate(0px, 0px);
    }
    to{
        transform: rotate(-45deg)translate(-5px, 5px);
    }
}

@keyframes formMoveDown3{
    from{
        transform: rotate(15deg)translate(0px,0px);
    }to{
        transform: rotate(50deg)translate(5px,-5px);
    }
}

@keyframes formMoveRight3{
    from{
        transform: rotate(-100deg)translate(0px,0px);
    }to{
        transform: rotate(-85deg)translate(3px,-5px);
    }
}

@keyframes ticketsH2{
    from{
        transform: rotate(5deg)translate(-5px,6px);
    }to{
        transform: rotate(15deg)translate(-2px,4px);
    }
}

@keyframes ticketsP1{
    from{
        transform: rotate(-6deg)translate(-20px,7px);
    }to{
        transform: rotate(-16deg)translate(-30px,13px);
    }
}

@keyframes ticketsP2{
    from{
        transform: rotate(2deg)translate(30px,-3px);
    }to{
        transform: rotate(-8deg)translate(20px, -5px);
    }
}

@keyframes ticketsP3{
    from{
        transform: rotate(-8deg)translate(2px, 0px);
    }to{
        transform: rotate(-18deg)translate(12px,0px);
    }
}