@import "../../fonts/stylesheet.css";
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import "var";
@import "animations";
// sass -w assets/styles/sass:assets/styles/css

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

body{
    font-family: "Roboto Slab", serif;
    color: $black;
    a{
        color: $black;
        text-decoration: none;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    h1{
        font-family: "Fascinate Inline", system-ui;
        text-align: center;
        font-weight: 400;
        font-size: 3.2rem;
    }
    h2{
        font-size: 2.4rem;
    }
    h3{
        font-size: 1.4rem;
        font-weight: 800;
    }
    h4{
        font-size: 1.2rem;
    }
    p{
        font-size: 1.2rem;
    }
    .bold{
        font-weight: bold;
    }
    .form{
        position: absolute; 
        z-index: 5;
    }
    .hide{
        display: none;
    }
}

// ==========================================================================
// HEADER
// ==========================================================================

.page-header{
    width: 100%;
    background-color: $black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    .logo{
        padding: .5rem 0;
        grid-column-start: 2;
        width: 100%;
    }
    .open{
        span{
            display: block;
            width: 30px;
            height: 3px;
            background-color: $secondary-color;
            margin:8px 0;
            border-radius: 2px;
            transition: all 200ms ease-in-out;
        }
        .burger-line1, .burger-line2, .burger-line3{
            transition: all 400ms ease-in-out;
        }
    }
    .close{
        span{
            display: block;
            width: 30px;
            height: 4px;
            background-color: $secondary-color;
            border-radius: 2px;
        }
        .burger-line1{
            transform: rotate(0.15turn)translateY(3px);
            transition: all 400ms ease-in-out;
        }
        .burger-line2{
            transform: rotate(-0.15turn)translateY(-3px);
            transition: all 500ms ease-in-out;
        }
        .burger-line3{
            transform: translateY(12px);
            width: 26px;
            transition: all 400ms ease-in-out;
        }
    }
    .header-nav{ 
        top: 105px;
        height: 90vh;
        width: 100%;
        background-color: $secondary-color;
        overflow: hidden;
        position: absolute;
        z-index: 200;
        .nav-dys{
            font-family: 'OpenDyslexic';
            display: flex;
            justify-content: end;
            align-items: center;
            button{
                margin-left: 1rem;
                font-size: 0;
                width: fit-content;
                height: fit-content;
                border: 1px solid $black;
                border-radius: 1rem;
                background-color: $secondary-color;
                .toggle{
                    margin: .5rem 3rem .5rem .5rem;
                    padding: .5rem;
                    border: 1px solid $black;
                    border-radius: 50%;
                    background-color: $secondary-color;
                }
            }
            .toggle-button-on{
                background-color: $main-color;
            }
            .toggle-button-on div{
                margin: .5rem .5rem .5rem 3rem;
            }
        }
        .nav-logout{
            background-color: $secondary-color;
            border: 1px solid $black;
            padding: 1rem;
            border-radius: 1rem;
            font-family: "Roboto Slab", serif;
            font-weight: 800;
            i{
                margin-left: .5rem;
            }
        }
        ul{
            position: relative;
            animation: 500ms nav;
            animation-iteration-count: 1;
            text-align: end;
            margin: 2rem;
            font-weight: 800;
            font-size: 1.8rem;
            line-height: 5rem;
        }
    }
    .header-nav-hide{
        z-index: -100;
        display: none;
    }
}

// ==========================================================================
// HOME
// ==========================================================================

.home-display-names{
    position: relative;
    background-color: $secondary-color;
    margin: 0;
    padding-bottom: 12rem;
    padding-top: 3rem;
    overflow: hidden;
    p{
        position: relative;
        z-index: 100;
        font-size: 2.4rem;
        font-weight: 800;
        padding: 1rem;
        text-transform: uppercase;
    }
    &-form1{
        bottom:1rem; 
        right: 2rem;
        img{
            transform: rotate(-145deg);
            animation: 2.5s linear infinite alternate formMoveLay1;
            position: sticky;
        }
        
    }
    &-form2{
        top: -2rem;
        right: -12rem;
        img{
            animation: 4s linear infinite alternate formMoveLeft2;
        }
    }
    &-form3{
        left: 3rem;
        bottom: 2.5rem;
        img{
            transform: rotate(20deg);
            animation: 3s linear infinite alternate formMoveLeft3;
            position: sticky;
        }
    }
}

.home-ticketing{
    background-color: $main-color;
    text-align: center;
    padding: 10rem 0;
    color: $secondary-color;
    h2{
        font-weight: 800;
        font-size: 2.4rem;
    }
    p{
        font-weight: 800;
        margin: 2rem 0px 3rem 0;
    }
    button{
        @include yellow-button();
    }
}

.home-infos{
    background-color: $secondary-color;
    position: relative;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -5;
    & > article{
        @include infos-section();
        p, i{
            margin: 1rem 0;
        }
        i{
            font-size: 3rem;
        }
    }
    &-medias-links{
        display: flex;
        justify-content: space-between;
    }
    &-form1{
        bottom: -3rem;
        left: -.2rem;
        animation: 3s linear infinite alternate formMoveLeft1;
    }
    &-form3{
        top: .5rem;
        right: .2rem;
        animation: 5s linear infinite alternate formMoveLeft3;
    }
}

// ==========================================================================
// PROGRAMMATION
// ==========================================================================

.programmation-filter{
    ul{
        display: flex;
        justify-content: space-around;
        margin: 3.5rem 0;
        li{
            font-size: 1.2rem;
            border: 1px solid $black;
            box-shadow: -4px 4px 4px $opacity-black;
            border-radius: .5rem;
            padding: .5rem 1.5rem;
            color: $secondary-color;
            font-weight: 800;
            text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
        }
        a{
            position: relative;
            z-index: 100;
        }
    }
    .programmation-filter-active{
        background-color: $secondary-color;
        color: $black;
        text-shadow: none;
    }
}

.programmation-page{
    overflow: hidden;
    background-color: $main-color;
    padding: 5rem 0;
    position: relative;
    &-form2a{
        left: -8rem;
        top: 15rem;
        animation: 3s linear infinite alternate formMoveLeft2;
    }   
    &-form1{
        right: -3rem;
        top: 80rem;
        animation: 3s linear infinite alternate formMoveLay1;
    }
    &-form2b{
        left: -5rem;
        bottom: 10%;
        animation: 2s linear infinite alternate formMoveRight2;
    }
    &-form3{
        right: -1rem;
        bottom: -2rem;
        animation: 5s linear infinite alternate formMoveLeft3;
    }
    h1{
        color: $secondary-color;
        text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
    }
    article{
        position: relative;
        z-index: 100;
    }
    
    .artist-card{
        @include artist-card();
    }
}

// ==========================================================================
// FICHE ARTISTE
// ==========================================================================

.fiche-artiste{
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5rem 0;
    position: relative;
    overflow: hidden;
    &-form1{
        top: 25rem;
        left: -5rem;
        animation: 3s linear infinite alternate formMoveLeft1;
    }
    &-form2{
        bottom: 12rem;
        left:-8rem;
        animation: 2s linear infinite alternate formMoveLeft2;
    }
    &-form3{
        bottom: -1rem;
        right: -1rem;
        animation: 5s linear infinite alternate formMoveDown3;
    }
    h1{
        color: $secondary-color;
        text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
    }
    &-image{
        position: relative;
        z-index: 5;
        margin: 3.5rem 0;
        width: 35rem;
        height: 18rem;
        overflow: hidden;
        border: $secondary-color 2px solid;
        border-radius: 2rem;
        box-shadow: -8px 8px 6px $opacity-black;
        display: flex;
        justify-content: center;
        align-items: center;
        &-top{
            align-items: flex-start;
        }
        img{
            width: 100%;
        }
    }
    p{
        position: relative;
        z-index: 5;
        margin: 0 1rem 3.5rem 1rem;
        padding: 3rem 1.5rem;
        border: 2px solid $black;
        border-radius: 2rem;
        box-shadow: -8px 8px 6px $opacity-black;
        background-color: $secondary-color;
        font-weight: 800;
    }
    iframe{
        position: relative;
        z-index: 5;
        width: 95%;
        box-shadow: -8px 8px 6px $opacity-black;
    }
    button{
        margin-top: 3rem;
        @include yellow-button();
        z-index: 100;
        position: relative;
    }
}

// ==========================================================================
// INFORMATIONS PRATIQUES
// ==========================================================================

.infos{
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5rem 0;
    position: relative;
    overflow: hidden;
    ul{
        padding-left: 1rem;
        list-style: disc;
        font-style: italic;
    }
    &-sommaire, section{
        @include infos-section();
        h2{
            margin-bottom: 1.5rem;
        }
        h3{
            margin: 1.5rem 0;
        }
        h4{
        margin: 1rem 0 .5rem 0;
        }
    }
    &-sommaire{
        margin: 3.5rem 0;
    }
    section a{
        color: $main-color;
        text-decoration: underline;
    }
    &-form2a{
        top: 7rem;
        left: -5rem;
        animation: 5s linear infinite alternate formMoveDown2;
    }
    &-form3{
        top: 50rem;
        right: -1rem;
        animation: 3s linear infinite alternate formMoveDown3;
    }
    &-form2b{
        top: 120rem;
        left: -4rem;
        animation: 6s linear infinite alternate formMoveLeft2;
    }
    &-form1{
        bottom: 1rem;
        right: 0rem;
        animation: 2s linear infinite alternate formMoveRight1;
    }
}

// ==========================================================================
// BILLETTERIE
// ==========================================================================

.ticketing{
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5rem 0;
    position: relative;
    overflow: hidden;
    .ticket-card{
        text-align: center;
        padding: 3rem;
        border-radius: 2rem;
        margin: 5rem 0 3rem 0;
        position: relative;
        background-color: $main-color;
        color: $secondary-color;
        z-index: 5;
        border: .2rem solid $black;
        box-shadow: -8px 8px 6px $opacity-black;
        &-tarif{
            display: flex;
            justify-content: space-between;
            font-weight: 800;
            .ticket-price{
                text-shadow:
                -1.5px -1.5px 0 $black,  
                1.5px -1.5px 0 $black,
                -1.5px  1.5px 0 $black,
                1.5px  1.5px 0 $black;
                font-size: 2rem;
            }
            &-last{
                margin-top: 5rem;
            }
        }
        p{
            font-size: 1.6rem;
        }
        h2{
            text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
        }
        h3{
            margin: 1rem 0 4rem 0;
        }
        button{
            @include yellow-button();
            margin-top: 2rem;
        }
    }
    &-form3{
        top: 25rem;
        right: -5rem;
        animation: 5s linear infinite alternate formMoveLeft3;
    }
    &-form1{
        top: 75rem;
        left: -1rem;
        animation: 3s linear infinite alternate formMoveLeft1;
    }
    &-form2{
        bottom: -3rem;
        right: -2rem;
        animation: 5s linear infinite alternate formMoveRight2;
    }
}

// formulaire

.buy-tickets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5rem 0;
    position: relative;
    overflow: hidden;
    background-color: $main-color;
    color: $secondary-color;
    h1{
        text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
    }
    form{
        margin-top: 3.5rem;
        position: relative;
        z-index: 5;
        .form-field{
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            font-weight: 800;
            padding: .5rem 0;
            label{
                text-shadow:
                -.5px -.5px 0 $black,  
                .5px -.5px 0 $black,
                -.5px  .5px 0 $black,
                .5px  .5px 0 $black;
            }
            select, input{
                background-color: $main-color;
                border: 2px solid $secondary-color;
                border-radius: 1rem;
                margin-top: .2rem;
                padding: .5rem;
                font-size: 1rem;
                color: $secondary-color;
                font-weight: 800;
            }
            select:focus, input:focus{
                outline: none;
                border: 4px solid $secondary-color;
                border-radius: 1.2rem;
            }
        }
        button{
            width: 100%;
            background-color: $secondary-color;
            box-shadow: -4px 4px 2px $opacity-black;
            border-radius: 1rem;
            margin:1rem 0;
            padding: .5rem;
            font-size: 1.2rem;
            color: $black;
            font-weight: 800;
            border:none;
        }
    }
    p{
        text-align: center;
        font-weight: 800;
        font-size: 1.2rem;
    }
    &-form1a{
        top: 7rem;
        left: -2rem;
        animation: 3s linear infinite alternate formMoveLeft1;
    }
    &-form2{
        top: 30rem;
        right: -7rem;
        animation: 5s linear infinite alternate formMoveLeft2;
    }
    &-form3{
        top: 54rem;
        left: -5rem;
        animation: 4s linear infinite alternate formMoveDown3;
    }
    &-form1b{
        bottom: 2rem;
        right: -3rem;
        animation: 5s linear infinite alternate formMoveLay1;
    }
}

// ==========================================================================
// AUTHENTIFICATION
// ==========================================================================

// Connexion et inscription

.connexion, .inscription{
    background-color: $main-color;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15rem 0;
    position: relative;
    overflow: hidden;
    h1{
        text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
    }
    form{
        position: relative;
        z-index: 100;
        margin-top: 2.5rem;
        font-size: 1.2rem;
        background-color: $secondary-color;
        color: $black;
        padding: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 2rem;
        border: 2px solid $black;
        box-shadow: -8px 8px 8px $opacity-black;
        input{
            margin: 1rem 0 2rem 0;
            border: 2px solid $black;
            box-shadow: -4px 4px 4px $opacity-black;
            border-radius: 1rem;
            padding: .5rem;
            width: 100%;
            background-color: $secondary-color;
            font-size: 1.2rem;
            &:focus{
                outline: none;
                border: 3px solid $black;
            }
        }
        button{
            width: 100%;
            padding: 1.5rem 0;
            @include purple-button();
        }
        a{
            color: $main-color;
            text-decoration: underline;
        }
    }

    &-form1{
        top: 2rem;
        left: -4rem;
        animation: 3s linear infinite alternate formMoveLay1;
    }
    &-form3{
        bottom: -1rem;
        right: -2rem;
        animation: 5s linear infinite alternate formMoveLeft3;
    }
    &-form2{
        bottom: 12rem;
        left: -5rem;
        animation: 3s linear infinite alternate formMoveDown2;
    }

}


// ==========================================================================
// ESPACE PERSO
// ==========================================================================

.espace-perso{
    background-color: $secondary-color;
    position: relative;
    overflow: hidden;
    &-tickets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        button{
            @include purple-button();
            padding: 1.5rem 6rem;
        }
        &-form2{
            top: 5rem;
            left: -8rem;
            animation: 3s linear infinite alternate formMoveLeft2;
        }
        &-form1{
            top: 8rem;
            right: -5rem;
            animation: 5s linear infinite alternate formMoveRight1;
        }
    }
    .planning-button, .artist-fav-button{
        @include yellow-button();
        margin: 3rem 0;
    }
    &-artists{
        background-color: $main-color;
        color: $secondary-color;
        width: 100%;
        padding: 5rem 0;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        h1{
            text-shadow:
            -1px -1px 0 $black,  
            1px -1px 0 $black,
            -1px  1px 0 $black,
            1px  1px 0 $black;
        }
        .artist-card{
            @include artist-card();
        }
        &-form3a{
            top: 0;
            right: -5rem;
            animation: 4s linear infinite alternate formMoveRight3;
        }
        &-form2{
            top: 10%;
            left: -5rem;
            animation: 2s linear infinite alternate formMoveDown2;
        }
        &-form1{
            bottom: 40rem;
            right: 1rem;
            animation: 5s linear infinite alternate formMoveLeft1;
        }
        &-form3b{
            bottom: -2rem;
            left: 1rem;
            animation: 4s linear infinite alternate formMoveRight3;
        }
    }
    &-programmation{
        background-color: $main-color;
        color: $secondary-color;
        width: 100%;
        padding: 5rem 0;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        h1{
            text-shadow:
            -1px -1px 0 $black,  
            1px -1px 0 $black,
            -1px  1px 0 $black,
            1px  1px 0 $black;
        }
        nav{
            width: 100%;
        }
        .personnal-prog-ven{
            display: grid;
            grid-template-rows: repeat(6, 1fr);
        }
        .personnal-prog-other{
            display: grid;
            grid-template-rows: repeat(10, 1fr);
        }
        .personnal-prog{
            padding: 2rem;
            width: 35rem;
            background-color: $secondary-color;
            border-radius: 1.5rem;
            border: $black 2px solid;
            color: $black;
            box-shadow: -8px 8px 8px $opacity-black;
            position: relative;
            z-index: 100;
            &-row{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &-hour{
                align-self: flex-start;
                border-bottom: 1px solid $black;
                border-top: 1px solid $black;
                width: 100%;
            }
            &-image-top{
                align-self: flex-start;
            }
            &-artist{
                width: 80%;
                height: 5rem;
                display: flex;
                justify-content: end;
                align-items: center;
                background-color: $main-color;
                border: 1px solid $black;
                border-radius: 1.2rem;
                text-align: right;
                overflow: hidden;
                aside{
                    width: 10rem;
                    overflow: hidden;
                    border: 1px solid $black;
                    img{
                        width: 100%;
                    }
                }
                &-name{
                    color: $secondary-color;
                    text-shadow:
                        -1px -1px 0 $black,  
                        1px -1px 0 $black,
                        -1px  1px 0 $black,
                        1px  1px 0 $black;
                    font-weight: 800;
                    margin-right: 1rem;
                }
            }
        }
        &-form3{
            top: 28rem;
            left: -2rem;
            animation: 2s linear infinite alternate formMoveDown3;
        }
        &-form1{
            top: 45rem;
            right: -1rem;
            animation: 2s linear infinite alternate formMoveRight1;
        }
        &-form2{
            bottom: -5rem;
            left: 8rem;
            animation: 2s linear infinite alternate formMoveRight2;
        }
    }

}

// ==========================================================================
// BILLETS
// ==========================================================================

.tickets-page, .paiement-valide{
    background-color: $main-color;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5rem 0;
    position: relative;
    overflow: hidden;
    min-height: 95vh;
    h1{
        text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
            margin-bottom: 2rem;
    }
    .tickets{
        position: relative;
        z-index: 100;
        line-height: 3rem;
        margin: 2rem;
        color: $black;
        width: 50%;
        text-align: center;
        background-color: $secondary-color;
        padding: 1rem;
        border-radius: 1.5rem;
        border: 2px solid $black;
        box-shadow: -4px 4px 6px $opacity-black;
        &-name{
            font-weight: bold;
        }
        a{
            width: 100%;
            border: 1px solid $black;
            padding: .5rem;
            border-radius: .5rem;
        }
    }
    &-infos{
        padding: 2rem;
    }
    &-form1{
        top: 23rem;
        left: 2rem;
        animation: 2s linear infinite alternate formMoveLay1;
    }
    &-form2{
        top: 50rem;
        right: -1rem;
        animation: 4s linear infinite alternate formMoveLeft2;
    }
    &-form3{
        bottom: 3rem;
        right: 20rem;
        animation: 6s linear infinite alternate formMoveLeft3;
    }
}

// ==========================================================================
// CONTACT
// ==========================================================================

.contact{
    background-color: $secondary-color;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5rem 0;
    position: relative;
    overflow: hidden;
    min-height: 95vh;
    &-infos{
        @include infos-section();
        margin: 5rem 0;
        p{
            margin: 3rem 0;
        }
        box-shadow: -8px 8px 8px $opacity-black;
    }
    &-form2{
        top: 5rem;
        left: 1.5rem;
        animation: 4s linear infinite alternate formMoveRight2;
    }
    &-form1{
        top: 30rem;
        right: -2rem;
        animation: 3s linear infinite alternate formMoveLeft1;
    }
    &-form3{
        bottom: 5rem;
        left: 10rem;
        animation: 2s linear infinite alternate formMoveLeft3;
    }
}

// ==========================================================================
// DYS
// ==========================================================================
#dys{
    h1, h2, h3, a, label, input, p, button{
        font-family: 'OpenDyslexic';
    }
    h1, h2, h3{
        font-weight: bold;
    }
}

// ==========================================================================
// ESPACE ADMIN
// ==========================================================================

.admin-space{
    min-height: 95vh;
    padding:5rem 0;
    overflow: hidden;
}

// ==========================================================================
// FOOTER
// ==========================================================================


.page-footer{
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    a{
        color: $secondary-color;
    }
    .footer-social ul{
        display: flex;
        font-size: 1.5rem;
        li{
            margin: 0 5px;
        }
    }
    .footer-legal{
        text-align: end;
    }
}