@import "var";
@import "animations";
// sass -w assets/styles/sass:assets/styles/css

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

body{
    font-family: "Roboto Slab", serif;
    color: $black;
    a{
        color: $black;
        text-decoration: none;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    h1{
        font-family: "Fascinate Inline", system-ui;
        text-align: center;
    }
    h2{
        font-size: 2.4rem;
    }
    h3{
        font-size: 1.4rem;
        font-weight: 800;
    }
    p{
        font-size: 1.2rem;
    }
    .bold{
        font-weight: bold;
    }
    .form{
        position: absolute; 
        z-index: 5;
    }
    .hide{
        display: none;
    }
}

.page-header{
    width: 100%;
    background-color: $black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    .logo{
        padding: .5rem 0;
        grid-column-start: 2;
        width: 100%;
    }
    .open{
        span{
            display: block;
            width: 30px;
            height: 3px;
            background-color: $secondary-color;
            margin:8px 0;
            border-radius: 2px;
            transition: all 200ms ease-in-out;
        }
        .burger-line1, .burger-line2, .burger-line3{
            transition: all 400ms ease-in-out;
        }
    }
    .close{
        span{
            display: block;
            width: 30px;
            height: 4px;
            background-color: $secondary-color;
            border-radius: 2px;
        }
        .burger-line1{
            transform: rotate(0.15turn)translateY(3px);
            transition: all 400ms ease-in-out;
        }
        .burger-line2{
            transform: rotate(-0.15turn)translateY(-3px);
            transition: all 500ms ease-in-out;
        }
        .burger-line3{
            transform: translateY(12px);
            width: 26px;
            transition: all 400ms ease-in-out;
        }
    }
    .header-nav{ 
        top: 92px;
        height: 90vh;
        width: 100%;
        background-color: $secondary-color;
        overflow: hidden;
        position: absolute;
        z-index: 200;
        ul{
            position: relative;
            animation: 500ms nav;
            animation-iteration-count: 1;
            text-align: end;
            margin: 2rem;
            font-weight: 800;
            font-size: 1.8rem;
            line-height: 5rem;
        }
    }
    .header-nav-hide{
        z-index: -100;
        display: none;
    }
}

// ==========================================================================
// HOME
// ==========================================================================



.home-display-names{
    position: relative;
    background-color: $secondary-color;
    margin: 0;
    padding-bottom: 12rem;
    padding-top: 3rem;
    overflow: hidden;
    p{
        font-size: 2.4rem;
        font-weight: 800;
        padding: 1rem;
        text-transform: uppercase;
    }
    &-form1{
        bottom:1rem; 
        right: 2rem;
        transform: rotate(-145deg);
        animation: 2.5s linear infinite alternate formMoveHome1;
    }
    &-form2{
        top: -2rem;
        right: -7rem;
        animation: 4s linear infinite alternate formMoveHome2;
    }
    &-form3{
        left: 3rem;
        bottom: 2.5rem;
        transform: rotate(20deg);
        animation: 3s linear infinite alternate formMoveHome3;
    }
}

.home-ticketing{
    background-color: $main-color;
    text-align: center;
    padding: 10rem 0;
    color: $secondary-color;
    h2{
        font-weight: 800;
        font-size: 2.4rem;
    }
    p{
        font-weight: 800;
        margin: 2rem 0px 3rem 0;
    }
    button{
        @include yellow-button();
    }
}

.home-infos{
    background-color: $secondary-color;
    position: relative;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -5;
    & > article{
        background-color: $secondary-color;
        z-index: 5;
        width: 34rem;
        border: .2rem solid $black;
        border-radius: 1.5rem;
        padding: 2rem;
        margin: 1rem 0;
        box-shadow: 5px 5px 15px #d9c300
                    -5px -5px 15px #d9c300;
        p, i{
            margin: 1rem 0;
        }
        i{
            font-size: 3rem;
        }
    }
    &-medias-links{
        display: flex;
        justify-content: space-between;
    }
    &-form1{
        bottom: -3rem;
        left: -.2rem;
        animation: 3s linear infinite alternate formMoveHomeInfos1;
    }
    &-form3{
        top: .5rem;
        right: .2rem;
        animation: 5s linear infinite alternate formMoveHomeInfos3;
    }
}

// ==========================================================================
// PROGRAMMATION
// ==========================================================================

.programmation-page{
    overflow: hidden;
    background-color: $main-color;
    padding: 5rem 0;
    position: relative;
    &-form2a{
        left: -8rem;
        top: 15rem;
        animation: 3s linear infinite alternate formMoveProg2a;
    }   
    &-form1{
        right: -3rem;
        top: 80rem;
        animation: 3s linear infinite alternate formMoveProg1;
    }
    &-form2b{
        left: -5rem;
        bottom: 100rem;
        animation: 2s linear infinite alternate formMoveProg2b;
    }
    &-form3{
        right: -1rem;
        bottom: -2rem;
        animation: 5s linear infinite alternate formMoveProg3;
    }
    h1{
        color: $secondary-color;
        text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
    }
    ul{
        display: flex;
        justify-content: space-around;
        margin: 3.5rem 0;
        li{
            font-size: 1.2rem;
            border: 1px solid $black;
            box-shadow: -4px 4px 4px $opacity-black;
            border-radius: .5rem;
            padding: .5rem 1.5rem;
            color: $secondary-color;
            font-weight: 800;
            text-shadow:
            -1.5px -1.5px 0 $black,  
            1.5px -1.5px 0 $black,
            -1.5px  1.5px 0 $black,
            1.5px  1.5px 0 $black;
        }
        a{
            position: relative;
            z-index: 100;
        }
    }
    article{
        position: relative;
        z-index: 100;
    }
    .programmation-filter-active{
        background-color: $secondary-color;
        color: $black;
        text-shadow: none;
    }
    .artist-card{
        z-index: 5;
        background-color: $secondary-color;
        border: 2px solid $black;
        box-shadow: -8px 8px 8px $opacity-black;
        margin: 2rem;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
        &-image{
            width: 30rem;
            height: 18rem;
            overflow: hidden;
            border-radius: 2rem;
            border: 1px solid $black;
            display: flex;
            justify-content: center;
            align-items: center;
            &-top{
                align-items: flex-start;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
        &-name{
            font-size: 2.4rem;
            font-weight: 800;
            margin: 3rem 0;
        }
        &-day{
            font-size: 1.4rem;
            font-weight: 800;
            margin-bottom: 1rem;
        }
    }
}

.page-footer{
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    a{
        color: $secondary-color;
    }
    .footer-social ul{
        display: flex;
        font-size: 1.5rem;
        li{
            margin: 0 5px;
        }
    }
    .footer-legal{
        text-align: end;
    }
}