{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="buy-tickets">

<h1>Billetterie</h1>

<section class="chose-tickets">

<h2 hidden>Formulaire de sélection des billets</h2>

<form action="index.php?route=paiement" method="POST">
    <input type="hidden" name="csrf-token" id="csrf-token" value="<?php echo $_SESSION['csrf_token']; ?>" />
    <div class="form-field form-field-tickets">
        <label for="friday">Billet 1 jour vendredi</label>
        <input type="number" id="friday" name="friday" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="saturday">Billet 1 jour samedi</label>
        <input type="number" id="saturday" name="saturday" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="sunday">Billet 1 jour dimanche</label>
        <input type="number" id="sunday" name="sunday" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="friday-saturday">Pass 2 jours vendredi et samedi</label>
        <input type="number" id="friday-saturday" name="friday-saturday" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="friday-sunday">Pass 2 jours vendredi et dimanche</label>
        <input type="number" id="friday-sunday" name="friday-sunday" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="saturday-sunday">Pass 2 jours samedi et dimanche</label>
        <input type="number" id="saturday-sunday" name="saturday-sunday" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="all-days">Pass 3 jours</label>
        <input type="number" id="all-days" name="all-days" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="friday-reduce">Billet 1 jour vendredi - réduit</label>
        <input type="number" id="friday-reduce" name="friday-reduce" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="saturday-reduce">Billet 1 jour samedi - réduit</label>
        <input type="number" id="saturday-reduce" name="saturday-reduce" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="sunday-reduce">Billet 1 jour dimanche - réduit</label>
        <input type="number" id="sunday-reduce" name="sunday-reduce" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="friday-saturday-reduce">Pass 2 jours vendredi et samedi - réduit</label>
        <input type="number" id="friday-saturday-reduce" name="friday-saturday-reduce" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="friday-sunday-reduce">Pass 2 jours vendredi et dimanche - réduit</label>
        <input type="number" id="friday-sunday-reduce" name="friday-sunday-reduce" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="saturday-sunday-reduce">Pass 2 jours samedi et dimanche - réduit</label>
        <input type="number" id="saturday-sunday-reduce" name="saturday-sunday-reduce" min="0" max="10" />
    </div>
    <div class="form-field form-field-tickets">
        <label for="all-days-reduce">Pass 3 jours - réduit</label>
        <input type="number" id="all-days-reduce" name="all-days-reduce" min="0" max="10" />
    </div>
    {% if session.user %}
        <div class="form-field">
            <label for="last_name">Nom de famille :</label>
            <input type="text" name="last_name" id="last_name" minlength="2" maxlength="100" required>
        </div>
        <div class="form-field">
            <label for="first_name">Prénom :</label>
            <input type="text" name="first_name" id="first_name" minlength="2" maxlength="50" required>
        </div>
        <div class="form-field form-field-email">
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" value={{session.user.getEmail()|escape}} required>
        </div>
    {% else %}
        <div class="form-field">
            <label for="last_name">Nom de famille :</label>
            <input type="text" name="last_name" id="last_name" minlength="2" maxlength="100" required>
        </div>
        <div class="form-field">
            <label for="first_name">Prénom :</label>
            <input type="text" name="first_name" id="first_name" minlength="2" maxlength="50" required>
        </div>
        <div class="form-field form-field-email">
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" required>
        </div>
    {% endif %}
    <input type="hidden" name="ticket-total-input" id="tickets-total-input">
    <button type="submit">Acheter</button>
</form>

<article class="tickets-total">
    <h3 hidden>Total du ticket</h3>
    <p>Total : 0€</p>
</article>

</section>

<div class="buy-tickets-form1a form"><img src="./assets/img/forms/form1-yellow.png" alt=""></div>
<div class="buy-tickets-form2 form"><img src="./assets/img/forms/form2-yellow.png" alt=""></div>
<div class="buy-tickets-form3 form"><img src="./assets/img/forms/form3-yellow.png" alt=""></div>
<div class="buy-tickets-form1b form"><img src="./assets/img/forms/form1-yellow.png" alt=""></div>

</main>
{% endblock %}


{% block footer %}
{{ parent() }}
{% endblock %}