{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="ticketing">

<h1>Billetterie</h1>

<div class="ticketing-form3 form"><img src="./assets/img/forms/form3.png" alt=""></div>
<div class="ticketing-form1 form"><img src="./assets/img/forms/form1.png" alt=""></div>
<div class="ticketing-form2 form"><img src="./assets/img/forms/form2.png" alt=""></div>

<section class="tickets">

    <article class="ticket-card">
        <h2>Billet 1 jour</h2>
        <h3>Vendredi</h3>
        <article class="ticket-card-tarif">
            <p>Plein tarif<br>
            <span class="ticket-price">24€</span></p>
            <p>Tarif réduit<br>
            <span class="ticket-price">14€</span></p>
        </article>
        <a href="index.php?route=achat-billets">
            <button class="ticket-buy">J'achète mon billet</button>
        </a>
    </article>
    <article class="ticket-card">
        <h2>Billet 1 jour</h2>
        <h3>Samedi ou dimanche</h3>
        <article class="ticket-card-tarif">
            <p>Plein tarif<br>
            <span class="ticket-price">32€</span></p>
            <p>Tarif réduit<br>
            <span class="ticket-price">22€</span></p>
        </article>
        <a href="index.php?route=achat-billets">
            <button class="ticket-buy">J'achète mon billet</button>
        </a>
    </article>
    <article class="ticket-card">
        <h2>Pass 2 jours</h2>
        <h3>Vendredi et samedi/<br>
        Vendredi et dimanche</h3>
        <article class="ticket-card-tarif">
            <p>Plein tarif<br>
            <span class="ticket-price">50€</span></p>
            <p>Tarif réduit<br>
            <span class="ticket-price">32€</span></p>
        </article>
        <a href="index.php?route=achat-billets">
            <button class="ticket-buy">J'achète mon billet</button>
        </a>
    </article>
    <article class="ticket-card">
        <h2>Pass 2 jours</h2>
        <h3>Samedi et dimanche</h3>
        <article class="ticket-card-tarif">
            <p>Plein tarif<br>
            <span class="ticket-price">58€</span></p>
            <p>Tarif réduit<br>
            <span class="ticket-price">40€</span></p>
        </article>
        <a href="index.php?route=achat-billets">
            <button class="ticket-buy">J'achète mon billet</button>
        </a>
    </article>
    <article class="ticket-card">
        <h2>Pass 3 jours</h2>
        <article class="ticket-card-tarif ticket-card-tarif-last">
            <p>Plein tarif<br>
            <span class="ticket-price">80€</span></p>
            <p>Tarif réduit<br>
            <span class="ticket-price">50€</span></p>
        </article>
        <a href="index.php?route=achat-billets">
            <button class="ticket-buy">J'achète mon billet</button>
        </a>
    </article>

</section>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}