{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="connexion">

    <h1>Se connecter</h1>

    <form action="index.php?route=checkLogin" method="post">

        {% if isError == true%}
            <p class="bold">email ou mot de passe invalide</p>
        {%endif%}
        <input type="hidden" name="csrf-token" id="csrf-token" value="<?php echo $_SESSION['csrf_token']; ?>" />
        <label for="email">email :</label>
        <input type="email" name="email" id="email" required>
        <label for="password">password :</label>
        <input type="password" name="password" id="password" minlength="8" required>
        <button type="submit">Se connecter</button>
    <p>Pas encore de compte ? <a href="index.php?route=inscription">S'inscrire </a></p>
    </form>

    <div class="connexion-form1 form"><img src="./assets/img/forms/form1-yellow.png" alt=""></div>
    <div class="connexion-form3 form"><img src="./assets/img/forms/form3-yellow.png" alt=""></div>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}

