{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="contact">

<h1>Contact</h1>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}