{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="contact">

<h1>Contact</h1>

<div class="contact-form2 form"><img src="./assets/img/forms/form2.png" alt=""></div>
<div class="contact-form1 form"><img src="./assets/img/forms/form1.png" alt=""></div>
<div class="contact-form3 form"><img src="./assets/img/forms/form3.png" alt=""></div>

<section class="contact-infos">
    <p><span class="bold">Mail : </span>web@donkey.com</p>
    <p><span class="bold">Téléphone : </span>01.23.45.67.89 (du lundi au vendredi de 9h30 à 18h30)</p>
    <p><span class="bold">Adresse : </span>Festival Donkey 22, rue d'Antrain 35000 Rennes</p>
</section>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}