{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="home">

<h1>Page d'Accueil</h1>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}