{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="infos">

    <section class="infos-container">

        <h1>Informations pratiques</h1>

            <nav class="infos-sommaire">
                <h2 hidden>Sommaire des informations pratiques</h2>
                <ul>
                    <a href="#dates"><li>Les dates et horaires</li></a>
                    <a href="#artistes"><li>Les artistes présent-e-s</li></a>
                    <a href="#lieu"><li>Le lieu</li></a>
                    <a href="#billetterie"><li>Acheter mon billet</li></a>
                    <a href="#securite"><li>Objets interdits</li></a>
                    <a href="#accessibilite"><li>Accessibilité</li></a>
                </ul>
            </nav>

        <section class="infos-content">
            <h2 hidden>Les informations pratiques</h2>
            <article class="infos-dates" id="dates">
                <h2>Les dates et horaires</h2>
                <h3>05, 06 et 07 juillet 2024</h3>
                <p><span class="bold">Vendredi 05 : </span>de 18h à 00h</p>
                <p><span class="bold">Samedi 06 et dimanche 07 : </span> de 14h à 00h</p>
            </article>

            <article class="infos-artistes" id="artistes">
                <h2>Les artistes présent-e-s</h2>
                <p>Vous pouvez retrouvez tou-te-s les artistes en consultant la <a href="index.php?route=programmation">programmation.</a></p>
            </article>

            <article class="infos-lieu" id="lieu">
                <h2>Le lieu</h2>
                <h3>Parc du Thabor, 35000 Rennes</h3>
                <p>Situé en plein coeur du centre ville de Rennes, le parc du Thabor est très accessible.</p>
                <h4>En bus :</h4>
                <p>Ligne C3 arrêt Thabor<br>
                Ligne C1, C5, et 12 arrêt Fossés</p>
                <h4>En métro :</h4>
                <p>Ligne a et b arrêt Sainte Anne</p>
                <h4>En vélo STAR :</h4>
                <p>Station vélo place Hoche</p>
                <h4>En voiture :</h4>
                <p>Parking Kléber et parking place Saint-Melaine</p>
            </article>

            <article class="infos-billetterie" id="billetterie">
                <h2>Acheter mon billet</h2>
                <p>Vous pouvez acheter votre billet sur <a href="index.php?route=billetterie">la billetterie en ligne.</a></p>
            </article>

            <article class="infos-securite" id="securite">
                <h2>Objets interdits</h2>
                <p>Afin de garantir la sécurité et le plaisir de tout le monde, nous avons une liste d'objets strictement interdits : les armes de toute sorte, les substances illégales, les contenants en verre, les flammes ouvertes, les animaux de compagnie (sauf les animaux d'assistance), les drones, les appareils photo professionnels avec objectifs amovibles, et tout objet qui pourrait potentiellement perturber l'événement ou présenter un danger pour les autres. Une consigne sera présente pour les sacs de plus de 30 litres, ceux-ci feront également l'objet d'une fouille. Veuillez respecter ces directives pour garantir une expérience de festival amusante et sûre pour tous.</p>
            </article>

            <article class="infos-accessibilite" id="accessibilite">
                <h2>Accessibilité</h2>
                <p>Notre festival s'engage à offrir une expérience inclusive et accessible à tou-te-s. Nous avons veillé à ce que tous les lieux du festival soient accessibles aux personnes à mobilité réduite, avec des rampes d'accès et des toilettes adaptées. Nous avons également prévu un espace calme et confortable pour les personnes ayant besoin de se reposer ou de s'isoler du bruit et de la foule. De plus, nous proposons des services de traduction en langue des signes pour les concerts, ainsi qu'une assistance personnalisée pour les personnes ayant des besoins spécifiques. Notre objectif est de faire en sorte que chaque participant-e puisse profiter pleinement de notre événement, quel que soit son niveau d'autonomie ou ses besoins particuliers.</p>
            </article>
        </section>

    </section>
    <div class="infos-form2a form"><img src="./assets/img/forms/form2.png" alt=""></div>
    <div class="infos-form3 form"><img src="./assets/img/forms/form3.png" alt=""></div>
    <div class="infos-form2b form"><img src="./assets/img/forms/form2.png" alt=""></div>
    <div class="infos-form1 form"><img src="./assets/img/forms/form1.png" alt=""></div>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}