{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="infos">

<h1>Informations pratiques</h1>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}