<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="site officiel du festival de musique Donkey à Rennes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/css/style.css" />
    <script src="https://kit.fontawesome.com/c75c1791b5.js" crossorigin="anonymous"></script>
    <title>Donkey</title>
</head>
<body>

    {% block header %}
    <header class="page-header">
        <img src="./assets/img/other/Logo.svg" alt="logo" class="logo">
        <div class="burger-menu open">
            <span class="burger-line1"></span>
            <span class="burger-line2"></span>
            <span class="burger-line3"></span>
        </div>
        <nav class="header-nav-hide header-nav">
            <ul>
                <li><a href="index.php">Accueil</a></li>
                <li><a href="index.php?route=programmation">Programmation</a></li>
                <li><a href="index.php?route=infos_pratiques">Informations pratiques</a></li>
                <li><a href="index.php?route=billetterie">Billetterie</a></li>
                {% if session.user is defined %}
                <li><a href="index.php?route=espace-perso&&user-id={{session.user.getId()}}">Espace personnel</a></li>
                {% else %}
                <li><a href="index.php?route=connexion">Espace personnel</a></li>
                {% endif %}
                <li><a href="index.php?route=contact">Contact</a></li>
                <li>
                    <form action="index.php?route=dys" method="POST">
                        <label for="dys-font">Typographie adaptée</label>
                        <input type="submit" value={{cookie.dys}} id="dys-font" name="dys-font">
                    </form>
                </li>
                {% if session.user is defined %}
                <li><a href="index.php?route=logout"><button>Se déconnecter</button></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% endblock %}

    {% block main %}

    {% endblock %}

    {% block footer %}
    <footer class="page-footer">
        <section class="footer-page-links">
            <ul>
                <a href="index.php?route=contact">
                    <li>Contact</li>
                </a>
                <a href="index.php?route=billetterie">
                    <li>Billetterie</li>
                </a>
            </ul>
        </section>
        <section class="footer-social">
            <ul>
                <a href="https://www.instagram.com/">
                    <li><i class="fa-brands fa-instagram"></i></li>
                </a>
                <a href="https://www.tiktok.com/discover?lang=fr">
                    <li><i class="fa-brands fa-tiktok"></i></li>
                </a>
                <a href="https://x.com/?lang=fr">
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                </a>
                <a href="https://www.facebook.com/?locale=fr_FR">
                    <li><i class="fa-brands fa-square-facebook"></i></li>
                </a>
            </ul>
        </section>
        <section class="footer-legal">
            <ul>
                <a href="index.php?route=rgpd">
                    <li>RGPD</li>
                </a>
                <a href="index.php?route=mentions_legales">
                    <li>Mentions légales</li>
                </a>
            </ul>
        </section>
    </footer>
    {% endblock %}
    <script src="./public/script.js" type="module"></script>
</body>
</html>