<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="site officiel du festival de musique Donkey à Rennes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preload" href="./assets/fonts/OpenDyslexic-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./assets/fonts/OpenDyslexic-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="assets/styles/css/style.css" />
    <script src="https://kit.fontawesome.com/c75c1791b5.js" crossorigin="anonymous"></script>
    <title>Donkey</title>
</head>
<body>

    {% block header %}
    <header class="page-header-mobile">
        <a href="index.php" class="logo-link"><img src="./assets/img/other/Logo.svg" alt="logo" class="logo"></a>
        <div class="burger-menu open">
            <span class="burger-line1"></span>
            <span class="burger-line2"></span>
            <span class="burger-line3"></span>
        </div>
        <nav class="header-nav-hide header-nav">
            <ul>
                <li><a href="index.php" {%if get.route is not defined%} class="header-nav-active"{%endif%}>Accueil</a></li>
                <li><a href="index.php?route=programmation" {%if get.route == "programmation" or get.route == "fiche-artiste"%} class="header-nav-active" {%endif%}>Programmation</a></li>
                <li><a href="index.php?route=infos_pratiques" {%if get.route == "infos_pratiques"%} class="header-nav-active" {%endif%}>Informations pratiques</a></li>
                <li><a href="index.php?route=billetterie" {%if get.route == "billetterie" or get.route == "achat-billets"%} class="header-nav-active" {%endif%}>Billetterie</a></li>
                {% if session.user is defined %}
                <li><a href="index.php?route=espace-perso&&user-id={{session.user.getId()}}" {%if get.route == "espace-perso" or get.route == "billets" or get.route == "espace-admin" or get.route == "programmation-perso"%} class="header-nav-active" {%endif%}>Espace personnel</a></li>
                {% else %}
                <li><a href="index.php?route=connexion">Espace personnel</a></li>
                {% endif %}
                <li><a href="index.php?route=contact" {%if get.route == "contact"%} class="header-nav-active" {%endif%}>Contact</a></li>
                <li>
                    <form action="index.php?route=dys" method="POST" class="nav-dys">
                        <label for="dys-font">Typographie adaptée</label>
                        <button type="submit" value="{{cookie.dys}}" id="dys-font" name="dys-font"><div class="toggle"></div></button>
                    </form>
                </li>
                {% if session.user is defined %}
                    <li><a href="index.php?route=logout"><button class="nav-logout">Se déconnecter <i class="fa-solid fa-right-from-bracket"></i></button></a></li>
                {% else %}
                    <li><a href="index.php?route=connexion"><button class="nav-logout">Se connecter <i class="fa-solid fa-right-to-bracket"></i></button></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <header class="page-header-desktop">
        <nav>
            <ul class="page-header-ul-1">
                <li><a href="index.php" {%if get.route is not defined%} class="header-nav-active"{%endif%}>Accueil</a></li>
                <li><a href="index.php?route=programmation" {%if get.route == "programmation" or get.route == "fiche-artiste"%} class="header-nav-active" {%endif%}>Programmation</a></li>
                <li><a href="index.php?route=infos_pratiques" {%if get.route == "infos_pratiques"%} class="header-nav-active" {%endif%}>Informations pratiques</a></li>
                <li><a href="index.php?route=billetterie" {%if get.route == "billetterie" or get.route == "achat-billets"%} class="header-nav-active" {%endif%}>Billetterie</a></li>
            </ul>
                <a href="index.php"><img src="./assets/img/other/Logo.svg" alt="logo" class="logo"></a>
            <ul class="page-header-ul-2">
                {% if session.user is defined %}
                    <li><a href="index.php?route=espace-perso&&user-id={{session.user.getId()}}" {%if get.route == "espace-perso" or get.route == "billets" or get.route == "espace-admin" or get.route == "programmation-perso"%} class="header-nav-active" {%endif%}>Espace personnel</a></li>
                {% else %}
                    <li><a href="index.php?route=connexion">Espace personnel</a></li>
                {% endif %}
                <li><a href="index.php?route=contact" {%if get.route == "contact"%} class="header-nav-active" {%endif%}>Contact</a></li>
                <li>
                    <form action="index.php?route=dys" method="POST" class="nav-dys">
                        <label for="dys-font">Typographie adaptée</label>
                        <button type="submit" value="{{cookie.dys}}" id="dys-font" name="dys-font"><div class="toggle"></div></button>
                    </form>
                </li>
                {% if session.user is defined %}
                    <li><a href="index.php?route=logout"><button class="nav-logout">Se déconnecter <i class="fa-solid fa-right-from-bracket"></i></button></a></li>
                {% else %}
                    <li><a href="index.php?route=connexion"><button class="nav-logout">Se connecter <i class="fa-solid fa-right-to-bracket"></i></button></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% endblock %}

    {% block main %}

    {% endblock %}

    {% block footer %}
    <footer class="page-footer">
        <section class="page-footer-container">
            <article class="footer-page-links">
                <ul>
                    <a href="index.php?route=contact">
                        <li>Contact</li>
                    </a>
                    <a href="index.php?route=billetterie">
                        <li>Billetterie</li>
                    </a>
                </ul>
            </article>
            <article class="footer-social">
                <ul>
                    <a href="https://www.instagram.com/">
                        <li><i class="fa-brands fa-instagram"></i></li>
                    </a>
                    <a href="https://www.tiktok.com/discover?lang=fr">
                        <li><i class="fa-brands fa-tiktok"></i></li>
                    </a>
                    <a href="https://x.com/?lang=fr">
                        <li><i class="fa-brands fa-x-twitter"></i></li>
                    </a>
                    <a href="https://www.facebook.com/?locale=fr_FR">
                        <li><i class="fa-brands fa-square-facebook"></i></li>
                    </a>
                </ul>
            </article>
            <article class="footer-legal">
                <ul>
                    <a href="index.php?route=rgpd">
                        <li>RGPD</li>
                    </a>
                    <a href="index.php?route=mentions_legales">
                        <li>Mentions légales</li>
                    </a>
                </ul>
            </article>
        </section>
    </footer>
    {% endblock %}
    <script src="./public/script.js" type="module"></script>
</body>
</html>