{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="mentions-legales">

    <section class="mentions-legales-container">
        <h1>Mentions légales</h1>

        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Donkey l'identité des différent-e-s intervenant-e-s dans le cadre de sa réalisation et de son suivi.</p>

        <h2>Edition du site </h2>

        <p>Le présent site, accessible à l’URL https:/donkey.go.yg.fr (le « Site »), est édité par : <br>

        Marion Barthoux, résidant 35000 Rennes, de nationalité Française (France), née le 26/10/1999. </p>

        <h2>Hébergement</h2>

        <p>Le Site est hébergé par la société Planethoster, située  à Laval (grand Montréal), dans la province de Québec, au Canada, (contact téléphonique ou email : +33176604143).</p>

        <h2>Directeur de publication </h2>

        <p>Le Directeur de la publication du Site est Marion Barthoux.</p>

        <p>Nous contacter <br>

            Par téléphone : +33651553983<br>
            Par email : marion.barthoux@gmail.com<br>
            Par courrier : 35000 Rennes</p>

        <p>Génération des mentions légales par Legalstart.</p>

    </section>
</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}