{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="mentions-legales">

<h1>Mentions légales</h1>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}