{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="home">

<h1>Paiement Invalide</h1>
<p>Il y a eu une erreur lors du paiement veuillez réessayer</p>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}