{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="home">

<h1>Payer</h1>

<p>Valide</p>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}