{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="rgpd">

<h1>RGPD</h1>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}