{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="rgpd">

    <section class="rgpd-container">
        <h1>RGPD</h1>

        <h2>Politique de confidentialité des données</h2>

        <p>Nous prenons très au sérieux la protection des données personnelles. Les
        données collectées sur le site web seront utilisées exclusivement pour
        l'authentication. Nous ne vendons pas les données à des tiers et nous nous
        engageons à les protéger contre tout accès non autorisé ou toute
        divulgation.<br>
        Nous collectons les données suivantes :<br>
        ● Informations d'inscription : nom, prénom, adresse e-mail, mot de
        passe.<br>
        ● Autres informations : artistes enregistré-e-s, code barre des billets.<br>
        Nous conservons les données pendant la durée nécessaire à la réalisation
        des nalités pour lesquelles elles ont été collectées, conformément à la
        législation en vigueur. À l'issue de cette période, nous supprimerons les
        données</p>

        <h2>Politique des cookies</h2>
        
        <p>Notre site web utilise des cookies pour permettre aux utilisateur-ice-s
        d'alterner entre la typographie de base et la typographie accessible aux
        personnes dys. Les cookies nous permettent de mémoriser les préférences
        de l’utilisateur-ice en matière de typographie et de lui offrir une expérience de navigation personnalisée. <br>
        Nous utilisons uniquement des cookies fonctionnels, qui sont nécessaires
        au bon fonctionnement de notre site web. Ces cookies ne collectent
        aucune donnée personnelle et ne sont pas utilisés à des fins de marketing
        ou de suivi.<br>
        En utilisant notre site web, les utilisateur-ice-s acceptent l'utilisation de cookies fonctionnels pour la gestion de la typographie. Si iels ne souhaitent pas que des cookies soient installés sur leur appareil, iels peuvent configurer leur navigateur pour les refuser ou les supprimer. Cependant, cela peut affecter leur expérience de navigation sur notre site web et les empêcher d'utiliser certaines fonctionnalités, telles que l'alternance de typographie.</p>

    <section>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}