@import "../../fonts/stylesheet.css";
@keyframes nav {
  from {
    right: -500px;
  }
  30% {
    right: 20px;
  }
  60% {
    right: -10px;
  }
  80% {
    right: 10px;
  }
  100% {
    right: 0;
  }
}
@keyframes formMoveHome1 {
  from {
    transform: rotate(-145deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-120deg) translate(5px, 5px);
  }
}
@keyframes formMoveHome2 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(15deg) translate(-5px, -5px);
  }
}
@keyframes formMoveHome3 {
  from {
    transform: rotate(-20deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
}
@keyframes formMoveHomeInfos1 {
  from {
    transform: rotate(-80deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-55deg) translate(-5px, -3px);
  }
}
@keyframes formMoveHomeInfos3 {
  from {
    transform: rotate(17deg) translate(0px, 0px);
  }
  to {
    transform: rotate(30deg) translate(-2px, -3px);
  }
}
@keyframes formMoveProg1 {
  from {
    transform: rotate(-90deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-75deg) translate(2px, 2px);
  }
}
@keyframes formMoveProg2a {
  from {
    transform: rotate(30deg) translate(0px, 0px);
  }
  to {
    transform: rotate(45deg) translate(5px, -5px);
  }
}
@keyframes formMoveProg2b {
  from {
    transform: rotate(-63deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-45deg) translate(3px, -3px);
  }
}
@keyframes formMoveProg3 {
  from {
    transform: rotate(-52deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-25deg) translate(2px, -3px);
  }
}
@keyframes formMoveFiche1 {
  from {
    transform: rotate(-55deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-75deg) translate(2px, 2px);
  }
}
@keyframes formMoveFiche2 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(15deg) translate(-1px, -3px);
  }
}
@keyframes formMoveFiche3 {
  from {
    transform: rotate(15deg) translate(0px, 0px);
  }
  to {
    transform: rotate(50deg) translate(5px, -5px);
  }
}
@keyframes formMoveInfos2a {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-20deg) translate(2px, 3px);
  }
}
@keyframes formMoveInfos3 {
  from {
    transform: rotate(25deg) translate(0px, 0px);
  }
  to {
    transform: rotate(55deg) translate(3px, -4px);
  }
}
@keyframes formMoveInfos2b {
  from {
    transform: rotate(27deg) translate(0px, 0px);
  }
  to {
    transform: rotate(56deg) translate(-2px, 8px);
  }
}
@keyframes formMoveInfos1 {
  from {
    transform: rotate(150deg) translate(0px, 0px);
  }
  to {
    transform: rotate(120deg) translate(2px, 2px);
  }
}
@keyframes formMoveTicket3 {
  from {
    transform: rotate(-15deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-75deg) translate(2px, -2px);
  }
}
@keyframes formMoveTicket1 {
  from {
    transform: rotate(-60deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-80deg) translate(3px, 3px);
  }
}
@keyframes formMoveTicket2 {
  from {
    transform: rotate(-125deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-150deg) translate(2px, 5px);
  }
}
@keyframes formMoveBuy1a {
  from {
    transform: rotate(-35deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-55deg) translate(2px, 4px);
  }
}
@keyframes formMoveBuy2 {
  from {
    transform: rotate(20deg) translate(0px, 0px);
  }
  to {
    transform: rotate(55deg) translate(-3px, 4px);
  }
}
@keyframes formMoveBuy3 {
  from {
    transform: rotate(12deg) translate(0px, 0px);
  }
  to {
    transform: rotate(47deg) translate(-5px, 5px);
  }
}
@keyframes formMoveBuy1b {
  from {
    transform: rotate(-35deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-67deg) translate(-2px, -4px);
  }
}
@keyframes formMoveConnexion1 {
  from {
    transform: rotate(-130deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-167deg) translate(-8px, 10px);
  }
}
@keyframes formMoveConnexion3 {
  from {
    transform: rotate(-25deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-123deg) translate(-3px, 4px);
  }
}
@keyframes formMoveInscritpion2 {
  from {
    transform: rotate(-10deg) translate(0px, 0px);
  }
  to {
    transform: rotate(10deg) translate(-2px, 3px);
  }
}
@keyframes formMovePersoTickets2 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(15deg) translate(5px, 7px);
  }
}
@keyframes formMovePersoTickets1 {
  from {
    transform: rotate(-150deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-175deg) translate(2px, 5px);
  }
}
@keyframes formMovePersoArtists3a {
  from {
    transform: rotate(-100deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-85deg) translate(3px, -5px);
  }
}
@keyframes formMovePersoArtists2 {
  from {
    transform: rotate(-177deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-143deg) translate(2px, -3px);
  }
}
@keyframes formMovePersoArtists1 {
  from {
    transform: rotate(-55deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-25deg) translate(2px, -6px);
  }
}
@keyframes formMovePersoArtists3b {
  from {
    transform: rotate(-100deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-76deg) translate(3px, 4px);
  }
}
@keyframes formMoveProgPerso3 {
  from {
    transform: rotate(48deg) translate(0px, 0px);
  }
  to {
    transform: rotate(75deg) translate(2px, -2px);
  }
}
@keyframes formMoveProgPerso1 {
  from {
    transform: rotate(145deg) translate(0px, 0px);
  }
  to {
    transform: rotate(185deg) translate(3px, 3px);
  }
}
@keyframes formMoveProgPerso2 {
  from {
    transform: rotate(-40deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-60deg) translate(-4px, -5px);
  }
}
@keyframes formMoveTickets1 {
  from {
    transform: rotate(15deg) translate(0px, 0px);
  }
  to {
    transform: rotate(30deg) translate(2px, 2px);
  }
}
@keyframes formMoveTickets2 {
  from {
    transform: rotate(45deg) translate(0px, 0px);
  }
  to {
    transform: rotate(68deg) translate(4px, -3px);
  }
}
@keyframes formMoveTickets3 {
  from {
    transform: rotate(-10deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-30deg) translate(-3px, 5px);
  }
}
@keyframes formMoveContact2 {
  from {
    transform: rotate(-15deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-47deg) translate(3px, -4px);
  }
}
@keyframes formMoveContact1 {
  from {
    transform: rotate(-63deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-90deg) translate(-3px, -6px);
  }
}
@keyframes formMoveContact3 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-43deg) translate(-2px, 3px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body {
  font-family: "Roboto Slab", serif;
  color: #020403;
}
body a {
  color: #020403;
  text-decoration: none;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body h1 {
  font-family: "Fascinate Inline", system-ui;
  text-align: center;
  font-weight: 400;
  font-size: 3.2rem;
}
body h2 {
  font-size: 2.4rem;
}
body h3 {
  font-size: 1.4rem;
  font-weight: 800;
}
body h4 {
  font-size: 1.2rem;
}
body p {
  font-size: 1.2rem;
}
body .bold {
  font-weight: bold;
}
body .form {
  position: absolute;
  z-index: 5;
}
body .hide {
  display: none;
}

.page-header {
  width: 100%;
  background-color: #020403;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.page-header .logo {
  padding: 0.5rem 0;
  grid-column-start: 2;
  width: 100%;
}
.page-header .open span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #FFE500;
  margin: 8px 0;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
.page-header .open .burger-line1, .page-header .open .burger-line2, .page-header .open .burger-line3 {
  transition: all 400ms ease-in-out;
}
.page-header .close span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #FFE500;
  border-radius: 2px;
}
.page-header .close .burger-line1 {
  transform: rotate(0.15turn) translateY(3px);
  transition: all 400ms ease-in-out;
}
.page-header .close .burger-line2 {
  transform: rotate(-0.15turn) translateY(-3px);
  transition: all 500ms ease-in-out;
}
.page-header .close .burger-line3 {
  transform: translateY(12px);
  width: 26px;
  transition: all 400ms ease-in-out;
}
.page-header .header-nav {
  top: 92px;
  height: 90vh;
  width: 100%;
  background-color: #FFE500;
  overflow: hidden;
  position: absolute;
  z-index: 200;
}
.page-header .header-nav .nav-dys {
  font-family: "OpenDyslexic";
  display: flex;
  justify-content: end;
  align-items: center;
}
.page-header .header-nav .nav-dys button {
  margin-left: 1rem;
  font-size: 0;
  width: fit-content;
  height: fit-content;
  border: 1px solid #020403;
  border-radius: 1rem;
  background-color: #FFE500;
}
.page-header .header-nav .nav-dys button .toggle {
  margin: 0.5rem 3rem 0.5rem 0.5rem;
  padding: 0.5rem;
  border: 1px solid #020403;
  border-radius: 50%;
  background-color: #FFE500;
}
.page-header .header-nav .nav-dys .toggle-button-on {
  background-color: #4F09B9;
}
.page-header .header-nav .nav-dys .toggle-button-on div {
  margin: 0.5rem 0.5rem 0.5rem 3rem;
}
.page-header .header-nav ul {
  position: relative;
  animation: 500ms nav;
  animation-iteration-count: 1;
  text-align: end;
  margin: 2rem;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 5rem;
}
.page-header .header-nav-hide {
  z-index: -100;
  display: none;
}

.home-display-names {
  position: relative;
  background-color: #FFE500;
  margin: 0;
  padding-bottom: 12rem;
  padding-top: 3rem;
  overflow: hidden;
}
.home-display-names p {
  font-size: 2.4rem;
  font-weight: 800;
  padding: 1rem;
  text-transform: uppercase;
}
.home-display-names-form1 {
  bottom: 1rem;
  right: 2rem;
  transform: rotate(-145deg);
  animation: 2.5s linear infinite alternate formMoveHome1;
}
.home-display-names-form2 {
  top: -2rem;
  right: -7rem;
  animation: 4s linear infinite alternate formMoveHome2;
}
.home-display-names-form3 {
  left: 3rem;
  bottom: 2.5rem;
  transform: rotate(20deg);
  animation: 3s linear infinite alternate formMoveHome3;
}

.home-ticketing {
  background-color: #4F09B9;
  text-align: center;
  padding: 10rem 0;
  color: #FFE500;
}
.home-ticketing h2 {
  font-weight: 800;
  font-size: 2.4rem;
}
.home-ticketing p {
  font-weight: 800;
  margin: 2rem 0px 3rem 0;
}
.home-ticketing button {
  font-size: 1.4rem;
  color: #020403;
  font-weight: 800;
  font-family: "Roboto Slab", serif;
  border-radius: 1.5rem;
  background-color: #FFE500;
  padding: 1.5rem 4rem;
  border: solid #020403 0.2rem;
  box-shadow: -5px 5px 4px rgba(2, 4, 3, 0.25);
}

.home-infos {
  background-color: #FFE500;
  position: relative;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -5;
}
.home-infos > article {
  background-color: #FFE500;
  z-index: 5;
  width: 34rem;
  border: 0.2rem solid #020403;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: 5px 5px 15px #d9c300 -5px -5px 15px #d9c300;
}
.home-infos > article p, .home-infos > article i {
  margin: 1rem 0;
}
.home-infos > article i {
  font-size: 3rem;
}
.home-infos-medias-links {
  display: flex;
  justify-content: space-between;
}
.home-infos-form1 {
  bottom: -3rem;
  left: -0.2rem;
  animation: 3s linear infinite alternate formMoveHomeInfos1;
}
.home-infos-form3 {
  top: 0.5rem;
  right: 0.2rem;
  animation: 5s linear infinite alternate formMoveHomeInfos3;
}

.programmation-filter ul {
  display: flex;
  justify-content: space-around;
  margin: 3.5rem 0;
}
.programmation-filter ul li {
  font-size: 1.2rem;
  border: 1px solid #020403;
  box-shadow: -4px 4px 4px rgba(2, 4, 3, 0.25);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #FFE500;
  font-weight: 800;
  text-shadow: -1.5px -1.5px 0 #020403, 1.5px -1.5px 0 #020403, -1.5px 1.5px 0 #020403, 1.5px 1.5px 0 #020403;
}
.programmation-filter ul a {
  position: relative;
  z-index: 100;
}
.programmation-filter .programmation-filter-active {
  background-color: #FFE500;
  color: #020403;
  text-shadow: none;
}

.programmation-page {
  overflow: hidden;
  background-color: #4F09B9;
  padding: 5rem 0;
  position: relative;
}
.programmation-page-form2a {
  left: -8rem;
  top: 15rem;
  animation: 3s linear infinite alternate formMoveProg2a;
}
.programmation-page-form1 {
  right: -3rem;
  top: 80rem;
  animation: 3s linear infinite alternate formMoveProg1;
}
.programmation-page-form2b {
  left: -5rem;
  bottom: 100rem;
  animation: 2s linear infinite alternate formMoveProg2b;
}
.programmation-page-form3 {
  right: -1rem;
  bottom: -2rem;
  animation: 5s linear infinite alternate formMoveProg3;
}
.programmation-page h1 {
  color: #FFE500;
  text-shadow: -1.5px -1.5px 0 #020403, 1.5px -1.5px 0 #020403, -1.5px 1.5px 0 #020403, 1.5px 1.5px 0 #020403;
}
.programmation-page article {
  position: relative;
  z-index: 100;
}
.programmation-page .artist-card {
  z-index: 5;
  background-color: #FFE500;
  border: 2px solid #020403;
  box-shadow: -8px 8px 8px rgba(2, 4, 3, 0.25);
  margin: 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.programmation-page .artist-card-image {
  width: 30rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 2rem;
  border: 1px solid #020403;
  display: flex;
  justify-content: center;
  align-items: center;
}
.programmation-page .artist-card-image-top {
  align-items: flex-start;
}
.programmation-page .artist-card-image img {
  width: 100%;
  height: auto;
}
.programmation-page .artist-card-name {
  font-size: 2.4rem;
  font-weight: 800;
  margin: 3rem 0;
}
.programmation-page .artist-card-day {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.programmation-page .artist-card button {
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: #4F09B9;
  color: #FFE500;
  border: 2px solid #020403;
  font-weight: 800;
  box-shadow: -2px 2px 2px rgba(2, 4, 3, 0.25);
  text-shadow: -0.5px -0.5px 0 #020403, 0.5px -0.5px 0 #020403, -0.5px 0.5px 0 #020403, 0.5px 0.5px 0 #020403;
}

.fiche-artiste {
  background-color: #4F09B9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}
.fiche-artiste-form1 {
  top: 25rem;
  left: -5rem;
  animation: 3s linear infinite alternate formMoveFiche1;
}
.fiche-artiste-form2 {
  bottom: 12rem;
  left: -8rem;
  animation: 2s linear infinite alternate formMoveFiche2;
}
.fiche-artiste-form3 {
  bottom: -1rem;
  right: -1rem;
  animation: 5s linear infinite alternate formMoveFiche3;
}
.fiche-artiste h1 {
  color: #FFE500;
  text-shadow: -1.5px -1.5px 0 #020403, 1.5px -1.5px 0 #020403, -1.5px 1.5px 0 #020403, 1.5px 1.5px 0 #020403;
}
.fiche-artiste-image {
  position: relative;
  z-index: 5;
  margin: 3.5rem 0;
  width: 35rem;
  height: 18rem;
  overflow: hidden;
  border: #FFE500 2px solid;
  border-radius: 2rem;
  box-shadow: -8px 8px 6px rgba(2, 4, 3, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fiche-artiste-image-top {
  align-items: flex-start;
}
.fiche-artiste-image img {
  width: 100%;
}
.fiche-artiste p {
  position: relative;
  z-index: 5;
  margin: 0 1rem 3.5rem 1rem;
  padding: 3rem 1.5rem;
  border: 2px solid #020403;
  border-radius: 2rem;
  box-shadow: -8px 8px 6px rgba(2, 4, 3, 0.25);
  background-color: #FFE500;
  font-weight: 800;
}
.fiche-artiste iframe {
  position: relative;
  z-index: 5;
  width: 95%;
  box-shadow: -8px 8px 6px rgba(2, 4, 3, 0.25);
}
.fiche-artiste button {
  margin-top: 3rem;
  font-size: 1.4rem;
  color: #020403;
  font-weight: 800;
  font-family: "Roboto Slab", serif;
  border-radius: 1.5rem;
  background-color: #FFE500;
  padding: 1.5rem 4rem;
  border: solid #020403 0.2rem;
  box-shadow: -5px 5px 4px rgba(2, 4, 3, 0.25);
  z-index: 100;
  position: relative;
}

.infos {
  background-color: #FFE500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}
.infos ul {
  padding-left: 1rem;
  list-style: disc;
  font-style: italic;
}
.infos-sommaire, .infos section {
  background-color: #FFE500;
  z-index: 5;
  width: 34rem;
  border: 0.2rem solid #020403;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: 5px 5px 15px #d9c300 -5px -5px 15px #d9c300;
}
.infos-sommaire h2, .infos section h2 {
  margin-bottom: 1.5rem;
}
.infos-sommaire h3, .infos section h3 {
  margin: 1.5rem 0;
}
.infos-sommaire h4, .infos section h4 {
  margin: 1rem 0 0.5rem 0;
}
.infos-sommaire {
  margin: 3.5rem 0;
}
.infos section a {
  color: #4F09B9;
  text-decoration: underline;
}
.infos-form2a {
  top: 7rem;
  left: -5rem;
  animation: 5s linear infinite alternate formMoveInfos2a;
}
.infos-form3 {
  top: 50rem;
  right: -1rem;
  animation: 3s linear infinite alternate formMoveInfos3;
}
.infos-form2b {
  top: 120rem;
  left: -4rem;
  animation: 6s linear infinite alternate formMoveInfos2b;
}
.infos-form1 {
  bottom: 1rem;
  right: 0rem;
  animation: 2s linear infinite alternate formMoveInfos1;
}

.ticketing {
  background-color: #FFE500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}
.ticketing .ticket-card {
  text-align: center;
  padding: 3rem;
  border-radius: 2rem;
  margin: 5rem 0 3rem 0;
  position: relative;
  background-color: #4F09B9;
  color: #FFE500;
  z-index: 5;
  border: 0.2rem solid #020403;
  box-shadow: -8px 8px 6px rgba(2, 4, 3, 0.25);
}
.ticketing .ticket-card-tarif {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}
.ticketing .ticket-card-tarif .ticket-price {
  text-shadow: -1.5px -1.5px 0 #020403, 1.5px -1.5px 0 #020403, -1.5px 1.5px 0 #020403, 1.5px 1.5px 0 #020403;
  font-size: 2rem;
}
.ticketing .ticket-card-tarif-last {
  margin-top: 5rem;
}
.ticketing .ticket-card p {
  font-size: 1.6rem;
}
.ticketing .ticket-card h2 {
  text-shadow: -1.5px -1.5px 0 #020403, 1.5px -1.5px 0 #020403, -1.5px 1.5px 0 #020403, 1.5px 1.5px 0 #020403;
}
.ticketing .ticket-card h3 {
  margin: 1rem 0 4rem 0;
}
.ticketing .ticket-card button {
  font-size: 1.4rem;
  color: #020403;
  font-weight: 800;
  font-family: "Roboto Slab", serif;
  border-radius: 1.5rem;
  background-color: #FFE500;
  padding: 1.5rem 4rem;
  border: solid #020403 0.2rem;
  box-shadow: -5px 5px 4px rgba(2, 4, 3, 0.25);
  margin-top: 2rem;
}
.ticketing-form3 {
  top: 25rem;
  right: -5rem;
  animation: 5s linear infinite alternate formMoveTicket3;
}
.ticketing-form1 {
  top: 75rem;
  left: -1rem;
  animation: 3s linear infinite alternate formMoveTicket1;
}
.ticketing-form2 {
  bottom: -3rem;
  right: -2rem;
  animation: 5s linear infinite alternate formMoveTicket2;
}

.buy-tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  background-color: #4F09B9;
  color: #FFE500;
}
.buy-tickets h1 {
  text-shadow: -1.5px -1.5px 0 #020403, 1.5px -1.5px 0 #020403, -1.5px 1.5px 0 #020403, 1.5px 1.5px 0 #020403;
}
.buy-tickets form {
  margin-top: 3.5rem;
  position: relative;
  z-index: 5;
}
.buy-tickets form .form-field {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 0;
}
.buy-tickets form .form-field label {
  text-shadow: -0.5px -0.5px 0 #020403, 0.5px -0.5px 0 #020403, -0.5px 0.5px 0 #020403, 0.5px 0.5px 0 #020403;
}
.buy-tickets form .form-field select, .buy-tickets form .form-field input {
  background-color: #4F09B9;
  border: 2px solid #FFE500;
  border-radius: 1rem;
  margin-top: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #FFE500;
  font-weight: 800;
}
.buy-tickets form .form-field select:focus, .buy-tickets form .form-field input:focus {
  outline: none;
  border: 4px solid #FFE500;
  border-radius: 1.2rem;
}
.buy-tickets form button {
  width: 100%;
  background-color: #FFE500;
  box-shadow: -4px 4px 2px rgba(2, 4, 3, 0.25);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #020403;
  font-weight: 800;
  border: none;
}
.buy-tickets p {
  text-align: center;
  font-weight: 800;
  font-size: 1.2rem;
}
.buy-tickets-form1a {
  top: 7rem;
  left: -2rem;
  animation: 3s linear infinite alternate formMoveBuy1a;
}
.buy-tickets-form2 {
  top: 30rem;
  right: -7rem;
  animation: 5s linear infinite alternate formMoveBuy2;
}
.buy-tickets-form3 {
  top: 54rem;
  left: -5rem;
  animation: 4s linear infinite alternate formMoveBuy3;
}
.buy-tickets-form1b {
  bottom: 2rem;
  right: -3rem;
  animation: 5s linear infinite alternate formMoveBuy1b;
}

.connexion, .inscription {
  background-color: #4F09B9;
  color: #FFE500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15rem 0;
  position: relative;
  overflow: hidden;
}
.connexion h1, .inscription h1 {
  text-shadow: -1.5px -1.5px 0 #020403, 1.5px -1.5px 0 #020403, -1.5px 1.5px 0 #020403, 1.5px 1.5px 0 #020403;
}
.connexion form, .inscription form {
  position: relative;
  z-index: 100;
  margin-top: 2.5rem;
  font-size: 1.2rem;
  background-color: #FFE500;
  color: #020403;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2rem;
  border: 2px solid #020403;
  box-shadow: -8px 8px 8px rgba(2, 4, 3, 0.25);
}
.connexion form input, .inscription form input {
  margin: 1rem 0 2rem 0;
  border: 2px solid #020403;
  box-shadow: -4px 4px 4px rgba(2, 4, 3, 0.25);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  background-color: #FFE500;
  font-size: 1.2rem;
}
.connexion form input:focus, .inscription form input:focus {
  outline: none;
  border: 3px solid #020403;
}
.connexion form button, .inscription form button {
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.4rem;
  border: 2px solid #020403;
  box-shadow: -5px 5px 4px rgba(2, 4, 3, 0.25);
  border-radius: 1.5rem;
  background-color: #4F09B9;
  color: #FFE500;
  font-family: "Roboto slab", serif;
  font-weight: 800;
  text-shadow: -1px -1px 0 #020403, 1px -1px 0 #020403, -1px 1px 0 #020403, 1px 1px 0 #020403;
  margin: 2rem 0;
}
.connexion form a, .inscription form a {
  color: #4F09B9;
  text-decoration: underline;
}
.connexion-form1, .inscription-form1 {
  top: 2rem;
  left: -4rem;
  animation: 3s linear infinite alternate formMoveConnexion1;
}
.connexion-form3, .inscription-form3 {
  bottom: -1rem;
  right: -2rem;
  animation: 5s linear infinite alternate formMoveConnexion3;
}
.connexion-form2, .inscription-form2 {
  bottom: 12rem;
  left: -5rem;
  animation: 3s linear infinite alternate formMoveInscritpion2;
}

.espace-perso {
  background-color: #FFE500;
  position: relative;
  overflow: hidden;
}
.espace-perso-tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.espace-perso-tickets button {
  font-size: 1.4rem;
  border: 2px solid #020403;
  box-shadow: -5px 5px 4px rgba(2, 4, 3, 0.25);
  border-radius: 1.5rem;
  background-color: #4F09B9;
  color: #FFE500;
  font-family: "Roboto slab", serif;
  font-weight: 800;
  text-shadow: -1px -1px 0 #020403, 1px -1px 0 #020403, -1px 1px 0 #020403, 1px 1px 0 #020403;
  margin: 2rem 0;
  padding: 1.5rem 6rem;
}
.espace-perso-tickets-form2 {
  top: 5rem;
  left: -8rem;
  animation: 3s linear infinite alternate formMovePersoTickets2;
}
.espace-perso-tickets-form1 {
  top: 8rem;
  right: -5rem;
  animation: 5s linear infinite alternate formMovePersoTickets1;
}
.espace-perso .planning-button, .espace-perso .artist-fav-button {
  font-size: 1.4rem;
  color: #020403;
  font-weight: 800;
  font-family: "Roboto Slab", serif;
  border-radius: 1.5rem;
  background-color: #FFE500;
  padding: 1.5rem 4rem;
  border: solid #020403 0.2rem;
  box-shadow: -5px 5px 4px rgba(2, 4, 3, 0.25);
  margin: 3rem 0;
}
.espace-perso-artists {
  background-color: #4F09B9;
  color: #FFE500;
  width: 100%;
  padding: 5rem 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.espace-perso-artists h1 {
  text-shadow: -1px -1px 0 #020403, 1px -1px 0 #020403, -1px 1px 0 #020403, 1px 1px 0 #020403;
}
.espace-perso-artists .artist-card {
  z-index: 5;
  background-color: #FFE500;
  border: 2px solid #020403;
  box-shadow: -8px 8px 8px rgba(2, 4, 3, 0.25);
  margin: 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.espace-perso-artists .artist-card-image {
  width: 30rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 2rem;
  border: 1px solid #020403;
  display: flex;
  justify-content: center;
  align-items: center;
}
.espace-perso-artists .artist-card-image-top {
  align-items: flex-start;
}
.espace-perso-artists .artist-card-image img {
  width: 100%;
  height: auto;
}
.espace-perso-artists .artist-card-name {
  font-size: 2.4rem;
  font-weight: 800;
  margin: 3rem 0;
}
.espace-perso-artists .artist-card-day {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.espace-perso-artists .artist-card button {
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: #4F09B9;
  color: #FFE500;
  border: 2px solid #020403;
  font-weight: 800;
  box-shadow: -2px 2px 2px rgba(2, 4, 3, 0.25);
  text-shadow: -0.5px -0.5px 0 #020403, 0.5px -0.5px 0 #020403, -0.5px 0.5px 0 #020403, 0.5px 0.5px 0 #020403;
}
.espace-perso-artists-form3a {
  top: 0;
  right: -5rem;
  animation: 4s linear infinite alternate formMovePersoArtists3a;
}
.espace-perso-artists-form2 {
  top: 10%;
  left: -5rem;
  animation: 2s linear infinite alternate formMovePersoArtists2;
}
.espace-perso-artists-form1 {
  bottom: 40rem;
  right: 1rem;
  animation: 5s linear infinite alternate formMovePersoArtists1;
}
.espace-perso-artists-form3b {
  bottom: -2rem;
  left: 1rem;
  animation: 4s linear infinite alternate formMovePersoArtists3b;
}
.espace-perso-programmation {
  background-color: #4F09B9;
  color: #FFE500;
  width: 100%;
  padding: 5rem 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.espace-perso-programmation h1 {
  text-shadow: -1px -1px 0 #020403, 1px -1px 0 #020403, -1px 1px 0 #020403, 1px 1px 0 #020403;
}
.espace-perso-programmation nav {
  width: 100%;
}
.espace-perso-programmation .personnal-prog-ven {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.espace-perso-programmation .personnal-prog-other {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}
.espace-perso-programmation .personnal-prog {
  padding: 2rem;
  width: 35rem;
  background-color: #FFE500;
  border-radius: 1.5rem;
  border: #020403 2px solid;
  color: #020403;
  box-shadow: -8px 8px 8px rgba(2, 4, 3, 0.25);
  position: relative;
  z-index: 100;
}
.espace-perso-programmation .personnal-prog-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.espace-perso-programmation .personnal-prog-hour {
  align-self: flex-start;
  border-bottom: 1px solid #020403;
  border-top: 1px solid #020403;
  width: 100%;
}
.espace-perso-programmation .personnal-prog-image-top {
  align-self: flex-start;
}
.espace-perso-programmation .personnal-prog-artist {
  width: 80%;
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #4F09B9;
  border: 1px solid #020403;
  border-radius: 1.2rem;
  text-align: right;
  overflow: hidden;
}
.espace-perso-programmation .personnal-prog-artist aside {
  width: 10rem;
  overflow: hidden;
  border: 1px solid #020403;
}
.espace-perso-programmation .personnal-prog-artist aside img {
  width: 100%;
}
.espace-perso-programmation .personnal-prog-artist-name {
  color: #FFE500;
  text-shadow: -1px -1px 0 #020403, 1px -1px 0 #020403, -1px 1px 0 #020403, 1px 1px 0 #020403;
  font-weight: 800;
  margin-right: 1rem;
}
.espace-perso-programmation-form3 {
  top: 28rem;
  left: -2rem;
  animation: 2s linear infinite alternate formMoveProgPerso3;
}
.espace-perso-programmation-form1 {
  top: 45rem;
  right: -1rem;
  animation: 2s linear infinite alternate formMoveProgPerso1;
}
.espace-perso-programmation-form2 {
  bottom: -5rem;
  left: 8rem;
  animation: 2s linear infinite alternate formMoveProgPerso2;
}

.tickets-page, .paiement-valide {
  background-color: #4F09B9;
  color: #FFE500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  min-height: 95vh;
}
.tickets-page h1, .paiement-valide h1 {
  text-shadow: -1.5px -1.5px 0 #020403, 1.5px -1.5px 0 #020403, -1.5px 1.5px 0 #020403, 1.5px 1.5px 0 #020403;
  margin-bottom: 2rem;
}
.tickets-page .tickets, .paiement-valide .tickets {
  position: relative;
  z-index: 100;
  line-height: 3rem;
  margin: 2rem;
  color: #020403;
  width: 50%;
  text-align: center;
  background-color: #FFE500;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid #020403;
  box-shadow: -4px 4px 6px rgba(2, 4, 3, 0.25);
}
.tickets-page .tickets-name, .paiement-valide .tickets-name {
  font-weight: bold;
}
.tickets-page .tickets a, .paiement-valide .tickets a {
  width: 100%;
  border: 1px solid #020403;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.tickets-page-infos, .paiement-valide-infos {
  padding: 2rem;
}
.tickets-page-form1, .paiement-valide-form1 {
  top: 23rem;
  left: 2rem;
  animation: 2s linear infinite alternate formMoveTickets1;
}
.tickets-page-form2, .paiement-valide-form2 {
  top: 50rem;
  right: -1rem;
  animation: 4s linear infinite alternate formMoveTickets2;
}
.tickets-page-form3, .paiement-valide-form3 {
  bottom: 3rem;
  right: 20rem;
  animation: 6s linear infinite alternate formMoveTickets3;
}

.contact {
  background-color: #FFE500;
  color: #020403;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  min-height: 95vh;
}
.contact-infos {
  background-color: #FFE500;
  z-index: 5;
  width: 34rem;
  border: 0.2rem solid #020403;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: 5px 5px 15px #d9c300 -5px -5px 15px #d9c300;
  margin: 5rem 0;
  box-shadow: -8px 8px 8px rgba(2, 4, 3, 0.25);
}
.contact-infos p {
  margin: 3rem 0;
}
.contact-form2 {
  top: 5rem;
  left: 1.5rem;
  animation: 4s linear infinite alternate formMoveContact2;
}
.contact-form1 {
  top: 30rem;
  right: -2rem;
  animation: 3s linear infinite alternate formMoveContact1;
}
.contact-form3 {
  bottom: 5rem;
  left: 10rem;
  animation: 2s linear infinite alternate formMoveContact3;
}

#dys h1, #dys h2, #dys h3, #dys a, #dys label, #dys input, #dys p, #dys button {
  font-family: "OpenDyslexic";
}
#dys h1, #dys h2, #dys h3 {
  font-weight: bold;
}

.page-footer {
  background-color: #020403;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 1rem;
  padding: 1.5rem 1rem;
}
.page-footer a {
  color: #FFE500;
}
.page-footer .footer-social ul {
  display: flex;
  font-size: 1.5rem;
}
.page-footer .footer-social ul li {
  margin: 0 5px;
}
.page-footer .footer-legal {
  text-align: end;
}

/*# sourceMappingURL=style.css.map */
